{{define "title"}}Create Order Order{{end}}
{{define "head"}}{{end}}
{{ define "content" }}
  {{ template "Header" }}
<div class="card">
  <h3 class="card-header">Despesas</h3>
<div class="card-body">
<div class="row mt-3">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">
     Total de Despesas:
  </div>
            <div class="card-block">
                <h3 class="card-title"></h3>
                <div class="card-text ml-3 mb-3">
                <h3> {{ .expensres.TotalExpense }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card text-white bg-warning">
    <div class="card-header">
    Total Pagas:
  </div>
            <div class="card-block">
                <h3 class="card-title"></h3>
                <div class="card-text ml-3 mb-3">
                <h3> {{ .expensres.TotalPaid }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card text-white bg-danger">
        <div class="card-header">
    Total Vencidas:
  </div>
            <div class="card-block">
                <h3 class="card-title"></h3>
                <div class="card-text ml-3 mb-3">
                <h3>{{ .expensres.TotalPassdue }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card text-white bg-info">
        <div class="card-header">
    Total em Aberto:
  </div>
            <div class="card-block">
                <h3 class="card-title"></h3>
                <div class="card-text ml-3 mb-3">
                <h3>{{ .expensres.TotalOpen }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
   <div class="card pb-3 pl-3 pr-3">
  <a class="far fa-plus-square btn btn-success" href="/expense/create">&emsp; Adcionar Despesa</a>
 </div> 
    
<div class="bs-example">
<table id="example" class="table table-striped table table-hover dt-responsive nowrap" cellspacing="0" style="width:100%">
        <thead>
            <tr>
              <th>ID</th>
              <th>Gasto</th>
              <th>Tipo</th>
              <th>Status</th>
              <th>Vencimento</th>
              <th>DT. Pagamento</th>
              <th>Copia da Conta</th>
              <th>Copia do Recibo</th>
              <th>Valor</th>
              <th>Beneficiario</th>
            </tr>
         </thead>
       <tbody>
      
      {{ range $i, $e := .expensres.Expense}}
        <tr>
          <td>{{ .ID }} </td>
          <td>{{ .Expensename }} </td> 
          <td>{{ .Types }} </td> 
          <td>{{ .Status }} </td> 
          <td>{{ .Datedue }} </td> 
          <td>{{ .Datepaid }} </td> 
          <td><a href="{{ .Bill_url }}">{{ .Bill_url }}</a> </td>
          <td><a href="{{ .Recepit }}">{{ .Recepit }}</a> </td>
          <td>{{ .Payment }} </td> 
          <td>{{ .Fname }} {{ .Lname }} </td> 
         
        </tr>
    {{ end }}
       </tbody>
    </table>

{{ template "Js" }}
<script>
	$(document).ready(function() {
	    var table = $('#example').DataTable( {
	        lengthChange: false,
	        buttons: [ 'csv', 'pdf', 'colvis' ]
	    } );
	 
	    table.buttons().container()
	        .appendTo( '#example_wrapper .col-md-6:eq(0)' );
	} );
     </script>
</div>
<div class="dropdown-divider"></div>
   {{ template "Footer" }}
{{ end }}    