{{define "title"}}Create Order Order{{end}}
{{define "head"}}{{end}}
{{ define "content" }}

  {{ template "Header" }}

<div class="card">
  <h3 class="card-header">Usuario</h3>
<div class="card-body">
  <div class="card pb-3 pl-3 pr-3">
    <a class="far fa-plus-square btn btn-success" href="/registration/create">&emsp;Adcionar Usuario</a>
  <div>     
<div class="bs-example">
 <a href="/client/create" class="nav-item nav-link disabled" tabindex="-1">
<div class="bs-example">
<table id="example" class="table table-striped table table-hover dt-responsive nowrap" cellspacing="0" style="width:100%">
        <thead>
            <tr>
              <th>ID</th>
              <th>Usuario</th>
              <th>Senha</th>
              <th>Email</th>
              <th>Cell#</th>
              <th>Status</th>
              <th>Tipo</th>
              <th>Obs</td>
        
						</tr>
         </thead>
       <tbody>

   
    {{ range .Registration }}

      <tr>
        <td>{{ .ID }} </td>
        <td>{{ .Username }} </td> 
        <td>{{ .Password }} </td> 
        <td>{{ .Email }} </td> 
        <td>{{ .Cellnumber }} </td> 
        <td>{{ .Status }} </td>
        <td>{{ .Role }} </td>  
        <td>{{ .Obs }} </td> 
      </tr>
    {{ end }}
       </tbody>
    </table>

{{ template "Js" }}
<script>
	$(document).ready(function() {
	    var table = $('#example').DataTable( {
	        lengthChange: false,
	        buttons: [ 'csv', 'pdf', 'colvis' ]
	    } );
	 
	    table.buttons().container()
	        .appendTo( '#example_wrapper .col-md-6:eq(0)' );
	} );
     </script>
</div>
<div class="dropdown-divider"></div>
   {{ template "Footer" }}
{{ end }}
