{{define "title"}}Create Order Order{{end}}
{{define "head"}}{{end}}
{{ define "content" }}  
{{ template "Header" }}
    
<div class="card">
  <h3 class="card-header">Adicionar Cheques</h3>
  <div class="card-body">

    <form method="POST" action="/cheque/store" enctype="multipart/form-data">
    
       <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="form-group row">
            <div class="col-md-3">
               <label> Número </label>
            </div>

            <div class="col-md-9">
               <input class="form-control" type="number" name="numero" />
            </div>
          </div>

          <div class="form-group row">
           <div class="col-md-3">
            <label>Data </label>
           </div>  
           <div class="col-md-9">
            <input class="form-control" type="date" name="data" />
            </div>
          </div>

           <div class="form-group row">
            <div class="col-md-3">
              <label> Valor R$</label>
            </div>
            <div class="col-md-9">
              <input class="form-control" type="number" name="valor" />
            </div>
           </div>


          <div class="form-group row">
          <div class="col-md-3">
            <label> Destino</label>
          </div>
          <div class="col-md-9">
            <input class="form-control" type="text" name="destino" />
          </div>
          </div>

          <div class="form-group row">
          <div class="col-md-3">
            <label> Vencimento</label>
          </div>
          <div class="col-md-9">
            <input class="form-control" type="date" name="vencimento" />
          </div>
          </div>

          <div class="form-group row">
          <div class="col-md-3">
            <label> Cliente</label>
          </div>
          <div class="col-md-9">
          <input class="form-control" type="text" name="cliente" />

          </div>
          </div>

          <div class="form-group row">
          <div class="col-md-3">
            <label> Beneficiário</label>
          </div>
          <div class="col-md-9">
            <input class="form-control" type="text" name="beneficiario" />
          </div>
          </div>
          
          <div class="form-group row">
          <div class="col-md-3">
            <label> Banco</label>
          </div>
          <div class="col-md-9">
            <input class="form-control" type="text" name="banco" />
          </div>
          </div>

          <div class="form-group row">
          <div class="col-md-3">
            <label> Agencia</label>
          </div>
          <div class="col-md-9">
            <input class="form-control" type="number" name="agencia" />
          </div>
          </div>

          <div class="form-group row">
          <div class="col-md-3">
            <label> Conta</label>
          </div>
          <div class="col-md-9">
            <input class="form-control" type="text" name="conta" />
          </div>
          </div>

          <div class="form-group row">
          <div class="col-md-3">
            <label> Copia</label>
          </div>
          <div class="col-md-9">
            <input class="form-control" type="file" name="copia" />
          </div>
          </div>

      <div class="form-group row">
      <div class="col-md-3">
      <label> Obs </label>
      </div>
      <div class="col-md-9">
      <textarea type="text" class="form-control" name="obs"></textarea><br /><br />
      </div>
      </div>
        <button type="submit" class="btn btn-info" value="Cadastrar">Cadastrar</button> 
                </div>
            </div>
            <input type="hidden" name="token" value="{{.token}}">
    </form>
      </div>
</div>
  {{ template "Footer" }}
{{ end }}
