{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
	<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Gerenciador Financeiro </title>
    {{ template "Css"  }}
	</head>
	<body>
	{{ template "Menu"  }}
	<span class="d-block p-2">
	<div class="container-fluid">
<div class="card">

{{ end }}