{{define "title"}}Create Order Order{{end}}
{{define "head"}}{{end}}
{{ define "content" }}
  {{ template "Header" }}

<div class="card">
  <h3 class="card-header">Adcionar Produto</h3>
  <div class="card-body">

    <form method="POST" action="/product/store" enctype="multipart/form-data">
      
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="form-group row">
            <div class="col-md-3">
              <label> Nome do Produto </label>
            </div>
            <div class="col-md-9">
               <input type="text" name="pname" class="form-control" />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-3">
              <label> Imagem do Produto </label>
            </div>
            <div class="col-md-9">
               <input type="file" name="pimg" class="form-control" />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-3">
              <label> Detalhe do Produto</label>
            </div>
            <div class="col-md-9">
               <input type="text" name="pdescription" class="form-control" />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-3">
             <label>Valor Unidade</label>
            </div>
            
            <div class="col-md-9">
              <input type="text" name="valorunidade" class="form-control" />
            </div>
          </div>
    
           <div class="form-group row">
            <div class="col-md-3">
             <label>Custo do Produto</label>
            </div>
            
            <div class="col-md-9">
              <input type="text" name="product_cost" class="form-control" />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-3">
             <label>Data Frabricado</label>
            </div>
            
            <div class="col-md-9">
              <input type="text" name="pdatafabi" class="form-control" />
            </div>
          </div>
  

          <div class="form-group row">
            <div class="col-md-3">

                <label> Tipo </label>
            </div>
            
            <div class="col-md-9">
            <select name="status" class="form-control">
                <option selected>Selecione um status</option>
                <option value="preimera">Primera</option>
                <option value="segunda">Segunda</option>
                <option value="em outros">Outros</option>
            </select>
            </div>
          </div>
        
          <div class="form-group row">
            <div class="col-md-3">
              <label> Obs </label>
            </div>
            <div class="col-md-9">
              <textarea type="text" name="obs" class="form-control"></textarea><br />
            </div>
          </div>
          <button type="submit" class="btn btn-info" value="Gerar Producto">Gerar Producto</button> 
     
        </div>
      </div>
      <input type="hidden" name="token" value="{{.token}}">
    </form>
      </div>
</div>
  {{ template "Footer" }}
{{ end }}
